/* ============== Basic Code ==============*/

*{
    box-sizing: border-box;
    margin: 0;
}

html{
    line-height: 1.15;
}

body{
    margin:9;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c6c6c;
    text-align: left;
    background-color: lightgrey;
}


/* ============= Header Section ============== */

.about-img{ 
    margin-top: 0px;

}

.btn{
    padding: 10px 25px ;
    border-radius: 100px;
}

.btn-white{
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

.btn-blue{
    color:#ffffff;
    border: 2.4px solid #ffffff;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/sky.jpg");

  /* Set a specific height */
  height: 100%;
  margin-top: 75px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in on the left of the image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}

.sizename{
    font-size: 40px;
    font-family: chalkduster;
}


/* ================== Navigation Menu ==================  */
li:hover{
    color: cornflowerblue;
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link{
    padding: 25px 10px;
    color: #343a40;
    font-weight: 500;
    outline: none;
}

@media (max-width: 800px){
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
}
}

/* ====== Typed js ========== */
.text-slider-items { 

    display: none;

} 

.text-slider{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: lightgrey;

}

/* ================ Experience =============== */

.qualification__tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1px;
}

.qualification__button{
    font-size:large;
    font-weight: medium;
    cursor: pointer;
}

.qualification__button:hover{
    color: cornflowerblue;
}

.qualification__icon{
    font-size: 1.8rem;
    margin-right: 25;
}

.qualification__data{
    justify-content:right;
    display:grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 4rem;
}

.qualification__title{
    font-size:medium;
    font-weight: bold;
}

.qualification__subtitle{
    display: inline-block;
    font-size: medium;
    margin-bottom:5px;
}

.qualification__calendar{
    font-size: smaller;
    color: var(--text-color-light);
}

.qualification__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: cornflowerblue;
    border-radius: 50%;
}

.qualification__line{
    display: block;
    width: 3px;
    height: 100%;
    background-color: cornflowerblue;
    transform: translate(6px, -7px);
}

.qualification [data-content]{
    display: none;
}

.qualification__active[data-content]{
    display: block;
}

.qualification__button.qualification__active{
    color: cornflowerblue;
}
/* ============= Projects ============== */


/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 35%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } 


  /* ========================== Contact  ========================*/

.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
